@font-face {
  font-family: "iconfont-flhs"; /* Project id 3499286 */
  src: url('iconfont.woff2?t=1730344632855') format('woff2'),
       url('iconfont.woff?t=1730344632855') format('woff'),
       url('iconfont.ttf?t=1730344632855') format('truetype');
}

.iconfont-flhs {
  font-family: "iconfont-flhs" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flhsqingsao:before {
  content: "\e896";
}

.icon-flhsicon_robot01:before {
  content: "\e807";
}

.icon-flhsjinengpeixun:before {
  content: "\e6c8";
}

.icon-flhsshujuzichanguiji:before {
  content: "\e745";
}

.icon-flhsshujukaifa:before {
  content: "\e625";
}

.icon-flhspingtaiguanli:before {
  content: "\e8b6";
}

.icon-flhshuaxiangzhongxin:before {
  content: "\e604";
}

.icon-flhsa-rengongzhineng12x:before {
  content: "\e66f";
}

.icon-flhsshujufenxi:before {
  content: "\e65f";
}

.icon-flhsbiaoqianhuaxiang:before {
  content: "\e601";
}

.icon-flhsmodel:before {
  content: "\e637";
}

.icon-flhsshixushujuku:before {
  content: "\e67a";
}

.icon-flhswendang:before {
  content: "\e627";
}

.icon-flhsshijian:before {
  content: "\e642";
}

.icon-flhsshujubiaoqian:before {
  content: "\e6df";
}

.icon-flhszhishi:before {
  content: "\ecb3";
}

.icon-flhsAPIshichang:before {
  content: "\e605";
}

.icon-flhsshujuzhibiao:before {
  content: "\e634";
}

.icon-flhsneizhishujumoxing:before {
  content: "\e815";
}

.icon-flhsyonghuquanxian1:before {
  content: "\e7b5";
}

.icon-flhsxiazai:before {
  content: "\e606";
}

.icon-flhswenhaoshuoming:before {
  content: "\e600";
}

.icon-flhsfenxiang:before {
  content: "\e644";
}

.icon-flhszizhufenxi-C:before {
  content: "\e633";
}

.icon-flhsjiantou-jiantou6:before {
  content: "\e6dc";
}

.icon-flhsmenu3:before {
  content: "\e713";
}

.icon-flhsmenu-4:before {
  content: "\e647";
}

.icon-flhsmenu:before {
  content: "\e6c1";
}

.icon-flhsmenu2:before {
  content: "\e6ec";
}

.icon-flhsquanping:before {
  content: "\e8fa";
}

.icon-flhsshuaxin:before {
  content: "\ec08";
}

.icon-flhsshaixuan:before {
  content: "\e811";
}

.icon-flhszhinengfenxi:before {
  content: "\e678";
}

.icon-flhszhinengfenxi1:before {
  content: "\e60b";
}

.icon-flhshuaban:before {
  content: "\e677";
}

.icon-flhsfenxi:before {
  content: "\e668";
}

.icon-flhslinggan-zi:before {
  content: "\e65e";
}

.icon-flhstongzhi1:before {
  content: "\e64a";
}

.icon-flhsanlihuicui:before {
  content: "\e6af";
}

.icon-flhscaozuoshouce:before {
  content: "\e631";
}

.icon-flhsxiangxiajiantou:before {
  content: "\e658";
}

.icon-flhscaidan:before {
  content: "\e790";
}

